export/
.vscode/
APIStuff.hx
.github/ISSUE_TEMPLATE/bug.md
.github/ISSUE_TEMPLATE/enhancement.md
.github/ISSUE_TEMPLATE/question.md
.github/PULL_REQUEST_TEMPLATE/bug.md
.github/PULL_REQUEST_TEMPLATE/enhancement.md
.github/workflows/superlinter.yml
art/build-Itch-HTML-RELEASE.bat
art/build-Itch-HTML.bat
art/build-Itch-WINDOWS-CLEAN.bat
art/build-Itch-WINDOWS-SECRET.bat
art/build-Itch-WINDOWS.bat
art/build-lime-SWITCH.bat
art/build-NG-HTML-RELEASE.bat
art/c_z.mp3
art/FMOD Logo Black - White Background.png
art/FMOD Logo White - Black Background.png
art/Funkin.bmp
art/FunkinAlt.bmp
art/icon16.png
art/icon32.png
art/icon64.png
art/iconOG.png
art/preloaderArt.png
art/readme.txt
art/thumbnailNewer.png
art/flashFiles/BF_death_pixels.fla
art/flashFiles/BoyFriend_Assets_CHRISTMAS_VARIANT.fla
art/flashFiles/BoyFriend_Assets_PIXEL_VARIANT.fla
art/flashFiles/BoyFriend_Assets.fla
art/flashFiles/BoyFriend_HAIR_BLOWING_Assets.fla
art/flashFiles/campaign_menu_UI_assets.fla
art/flashFiles/Christmas_Background_Assets.fla
art/flashFiles/Dad_assets.fla
art/flashFiles/Effects_Assets.fla
art/flashFiles/EVIL_Christmas_BG.fla
art/flashFiles/FNF_main_menu_assets.fla
art/flashFiles/funkinpause.fla
art/flashFiles/funkinpauseyellow.fla
art/flashFiles/GF_ass_sets_CHRISTMAS_VARIANT.fla
art/flashFiles/GF_ass_sets.fla
art/flashFiles/GF_assets.fla
art/flashFiles/GF_PIXEL_VARIANT.fla
art/flashFiles/halloween_bg.fla
art/flashFiles/Mom_Assets.fla
art/flashFiles/MOM_BG_asset_pack.fla
art/flashFiles/mom_dad_christmas_assets.fla
art/flashFiles/Mom_HAIR_BLOWING_Assets.fla
art/flashFiles/Monster_Assets_Christmas.fla
art/flashFiles/Monster_Assets.fla
art/flashFiles/NOTE_assets.fla
art/flashFiles/petals_animation.fla
art/flashFiles/Pico_BG_train_assets.fla
art/flashFiles/Pico_FNF_assetss.fla
art/flashFiles/Pixel_BG_Girls.fla
art/flashFiles/Senpai_Assets.fla
art/flashFiles/speech_bubble_talking.fla
art/flashFiles/spooky_kids_assets.fla
art/flashFiles/Start_Screen_Assets.fla
art/flashFiles/Text_Boxes.fla
art/flashFiles/UI_assets.fla
art/flashFiles/Week_6_BG_2.fla
docs/CNAME
docs/index.html
docs/styles.css
docs/img/skin-funkin-cardbordtoast.jpg
shit/a.wav
shit/a.wav.asd
shit/e.wav
shit/e.wav.asd
shit/i.wav
shit/i.wav.asd
shit/o.wav
shit/o.wav.asd
shit/u.wav
shit/u.wav.asd
shit/intro.wav.asd
art/flashFiles/RECOVER_Start_Screen_Assets.fla
